html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
}

#namelogo {
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 1.3px;
  color: #191919;
}

.display-4 {
  font-size: 2.9rem !important;
  font-weight: 500 !important;
}

.text-dark-blue {
  color: #161f38;
}

#personal-quality {
  font-size: 1.1rem;
  font-weight: 590;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
  width: 50%;
  /* color: #666; */
}

.personal-quality-bold {
  font-weight: 700;
}

#resume {
  color: #ffffff;
  margin-right: 12px;
}

#resume:hover {
  text-decoration: none;
}

.btn-dark {
  width: 8rem;
  height: 3rem;
  font-weight: 400 !important;
  background-color: #000000 !important;
  border-radius: 22px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.4s ease-in-out;
}

.btn-dark:hover {
  background-color: #000000 !important;
  font-weight: 700 !important;
  color: #ffffff !important;
  border-color: #000000 !important;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.8);
}

.btn-orange {
  /* background-color: #ff5722; */
  background-color: #dd7729;
  width: 8rem;
  height: 3rem;
  font-weight: 400 !important;
  border-radius: 22px;
  color: white !important;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.4s ease-in-out;
}

.btn-orange:hover {
  background-color: #dd7729;
  font-weight: 700 !important;
  color: #ffffff !important;
  /* box-shadow: 0px 10px 30px rgb(255, 87, 34); */
  box-shadow: 0px 10px 30px #f27413;
  border: none;
}

.cardBtn {
  background-color: #000000 !important;
  margin-right: 10px !important;
  color: white !important;
}

.cardBtn:hover {
  background-color: #dd7729 !important;
  font-weight: 700 !important;
  color: #ffffff !important;
  box-shadow: 0px 10px 30px rgb(255, 87, 34);
  /* box-shadow: 0px 10px 30px #f27413; */
  border: none;
}

@media only screen and (min-width: 768px) {
  .cardStyle {
    margin-left: 50px !important; 
    margin-bottom: 50px;
  }
}

.cardStyle {
  margin-left: 0px; 
  margin-bottom: 50px;
}


.h2Title {
  text-align: center; 
  margin-top: 100px; 
  font-weight: 900;
}

.svgLogoStyles {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

footer {
  background-color: #121211;
  padding: 1em;
  margin-top: auto;
}

.footerLink {
  margin-top: 5%;
  text-decoration: none;
  color: #E1DBD7;
  margin-right: 40px;
  font-weight: 800;
}

.footerLink:hover {
  color: #dd7729;
  text-shadow: 0px 10px 30px rgb(255, 87, 34)
}

#footerTop {
  background-color: transparent;
  border-color: #121211;
  margin-top: 3.6%;
  margin-right: 50px;
  outline: none;
  box-shadow: none;
}

#footerTop:hover {
  box-shadow: 0px 10px 30px rgb(255, 87, 34);
}

#footerP { 
  color: white; 
  font-size: 12px; 
  margin: 70px 0 0 20px
}

#footerP:hover {
  cursor: pointer;
}

.css-1k23hlb-MuiButtonBase-root-MuiButton-root:hover {
  box-shadow: 0px 10px 30px rgb(255, 87, 34) !important;
  background-color: #ee670c6e !important;
}

.css-1is3qj5-MuiButtonBase-root-MuiButton-root:hover {
  box-shadow: 0px 10px 30px rgb(255, 87, 34) !important;
  background-color: #ee670c6e !important;
}

#myBtn:hover {
  background-color: #77f80e23 !important;
}